services:
  web:
    image: ${DOCKER_REGISTRY}/dividend-tracker-web:latest
    ports:
      - "5050:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  mongo_data:
