services:
  web:
    image: ${DOCKER_REGISTRY}/dividend-tracker-web:latest
    ports:
      - "5051:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/
      - ALPHA_VANTAGE_KEY=${ALPHA_VANTAGE_KEY}
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - default
      - backend-net

  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  mongo_data:

networks:                                                                                                                                                                                                                                                                                                                                                                  
  backend-net:                                                                                                                                                                                        
    external: true